<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kode Mono"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/peggy"></script> 
  </head>
  
<body>

  <div id="app">  


<svg  viewbox="0 0 1514 1280" preserveAspectRatio="xMinYMin meet" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="codeEditorContainer">

  <rect id="textEditor" x="13" y="110" width="697" height="741" rx="10" fill="#D9D9D9"/>
  <foreignobject x="13" y="110" width="697" height="741" >
  <textarea ref="textEditor" v-model="textEditor"></textarea>
  
  </foreignobject>  
<rect id="videoDisplay" x="726" y="110" width="700" height="741" rx="10" fill="#D9D9D9"/>
  
  <foreignobject x="726" y="110" width="700" height="741" >
     <div id="iframeContainer">
       
     <iframe allow="autoplay" v-for="x in url" v-bind:src="x"></iframe>
    </div>
  </foreignobject>
  
<rect id="errorConsole" x="13" y="867" width="1413" height="118" rx="10" fill="#D9D9D9"/>
   <foreignobject x="13" y="867" width="1413" height="118">
  <p v-text="errorConsole"></p>
  </foreignobject>
  
<rect id="evalArea" x="13" y="39" width="1413" height="55" fill="#D9D9D9"/>
<g id="evalButton" v-on:click="evaluate">
<rect x="40" y="48" width="93" height="36" rx="10" fill="black"/>
<text id="Eval" fill="#D9D9D9" xml:space="preserve" style="white-space: pre" font-family="Kode Mono" font-size="40" font-weight="bold" letter-spacing="0em"><tspan x="38.5312" y="79.4">Eval</tspan></text>
</g>
  <g id="titleContainer">
<text id="title" fill="black" xml:space="preserve" style="white-space: pre" font-family="Kode Mono" font-size="30" font-weight="bold" letter-spacing="0em"><tspan x="840" y="78.52">POPTIMISM PROGRAMMING LANGUAGE</tspan></text>
</g>
</g>
</svg>
    
  </div>
    <script src="vue.js"></script> 
  </body>
</html>
