<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kode Mono"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!--     <script src="https://www.youtube.com/iframe_api"></script> -->

    <script src="https://unpkg.com/peggy"></script> 
  </head>
  
<body>

  <div id="app">  

<svg viewBox="0 0 1366 768" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="codeEditorContainer 1366x768">
<rect id="textEditor" x="42" y="103" width="625" height="565" rx="10" fill="#D9D9D9"/>
  <foreignobject x="42" y="103" width="625" height="565" >
  <textarea ref="textEditor" v-model="textEditor" v-on:keydown.shift.enter="evaluate"></textarea>
  </foreignobject> 
  
<rect id="videoDisplay" x="700" y="103" width="625" height="565" rx="10" fill="#D9D9D9"/>
   <foreignobject x="700" y="103" width="625" height="565" >
     <div  class="iframeContainer">       
     <iframe allow="autoplay" 
             v-for="x in url" 
             v-bind:src="x"></iframe>
    </div>
  </foreignobject>
  
<rect id="errorConsole" x="42" y="684" width="1283" height="59" rx="10" fill="#D9D9D9"/>
  <foreignobject x="42" y="684" width="1283" height="59">
  <p v-text="errorConsole"></p>
  </foreignobject>
  
<rect id="evalArea"  x="42" y="26" width="1278" height="55" fill="#D9D9D9"/>
<g id="evalButton" v-on:click="evaluate">
<rect x="69" y="41" width="93" height="36" rx="10" fill="black"/>
<text id="Eval" fill="#D9D9D9" xml:space="preserve" style="white-space: pre" font-family="Kode Mono" font-size="40" font-weight="bold" letter-spacing="0em"><tspan x="67.5312" y="72.4">Eval</tspan></text>
</g>
<g id="titleContainer">
<text id="title" fill="black" xml:space="preserve" style="white-space: pre" font-family="Kode Mono" font-size="30" font-weight="bold" letter-spacing="0em"><tspan x="730" y="69.52">A POPTIMIST PROGRAMMING LANGUAGE</tspan></text>
</g>
  
  <g id="instructionsContainer">
<rect x="332.157" y="135.157" width="702.103" height="498.528" rx="10.4101" fill="#BCB2A8"/>
<rect x="332.157" y="135.157" width="702.103" height="498.528" rx="10.4101" stroke="#2A2829" stroke-width="2.31335"/>
<g id="closeButtonContainer">
<rect x="891.699" y="173.038" width="98.8318" height="44.8318" rx="4.91588" stroke="#252024" stroke-width="1.73502"/>
<text id="closeButton" fill="black" xml:space="preserve" style="white-space: pre" font-family="Encode Sans" font-size="27.7603" font-weight="300" letter-spacing="0em"><tspan x="896.615" y="206.697">close &#x2612;</tspan></text>
</g>
<!-- <rect id="titleBackground" x="374.954" y="237.523" width="616.509" height="358.57" fill="black"/> -->
  <foreignobject x="332.157" y="135.157" width="702.103" height="498.528">
    <h1>
      A Poptimist Esolang
    </h1>
  <p> Inspired by the ethos of poptimism—the belief that pop music deserves serious critical recognition—this language reimagines programming as an expressive, playful, and inclusive act.
    <br><br>
    At its core, Poptimism is designed to challenge traditional coding paradigms by integrating music, movement, and performance into its syntax.
    </p>
    
    <h2>
      Getting Started with Poptimism
    </h2>
    
    <p>The core syntax follows a simple pattern:</p>
      <div style="display: flex; flex-direction: column; align-items: center; width: 50%; ">
            <pre><code class="language-markup">
            <textarea class="myInput" rows="5" cols="50">[performer] plays [track] (optional actions);
            </textarea>
            </code></pre>
            </div>
    <h3>
      1. Play a Track 🎶
    </h3>
    
    <p>
      Just name your performer and the track. Try the code below which will start playing "Texas" by Beyoncé.
    </p>
    
    beyonce plays texas;

    <h3>
      2. Control Playback ⏯️

    </h3>
    
    <p>
      Want to start and stop at a specific time? Use start and end. For example, the code below plays from second 20 to 50.
    
    beyonce plays texas (start 20, end 50);
    </p>
    
    <p>
      Pause the track:

beyonce plays texas (pause);

    </p>
    
  
  </foreignobject>
</g>

</g>
</svg>

    
  </div>
    <script src="vue.js"></script> 
  </body>
</html>