body { 
  margin: 0px;
  padding: 0px;
  background: #337CA0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: none;  
  width: 100%;
  height: 100%;
  
}

textarea {
  width:100%;
  height: 100%;
  font-family: 'Kode Mono';
  font-size: 2em;
  padding: 1%;
  background: transparent;
  color: black;
}

p {
  width:100%;
  height: 70%;
  background: transparent;
  overflow: auto;
  font-family:'Kode Mono';
  font-size: 1em;
  
}

h1 {
 
  font-family:'Kode Mono';  
}

.iframeContainer  {
  
  background: transparent;
  display:flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  flex-wrap: wrap;
  overflow: auto;

} 



iframe {
  margin: auto;
  width: 10em;
  height:10em;
  
} 


#Eval {
  cursor:pointer;
}

#closeButtonContainer {
  cursor:pointer;
}

#closeButton {
  cursor:pointer;
}

